/*
 * File: css/features.css
 * Author: Gladys Chan
 * Description: stylesheet of features page
 */

#datavyu-is .feature
{
    width: 30%;
    float: left;
    padding: 15px 15px 15px;
}

#datavyu-can .feature
{
    width: 46.6%;
    float: left;
    padding: 15px 15px 15px;
}

.feature-title
{
    position: relative;
    left: -20px;
    margin-bottom: -33px;
}

#datavyu-can img
{
    width: 100%;
    height: auto;
}

.feature h1
{
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    font-size: medium;
    font-weight: normal;
    height: 23px;
}

.feature p
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%;
}
