<section id="carousel" class="carousel">
	<div class="panels">
		<!--
		<div class="panel">
			<img src="/img/carousel/carousel-2.jpg">
		</div>

		<div class="panel">
			<img src="/img/carousel/carousel-7.jpg">
		</div>

		<div class="panel">
			<img src="/img/carousel/carousel-3.jpg">
		</div>

		<div class="panel">
			<img src="/img/carousel/carousel-5.jpg">
		</div>

		<div class="panel">
			<img src="/img/carousel/carousel-8.jpg">
		</div>

		<div class="panel">
			<img src="/img/carousel/carousel-6.jpg">
		</div>
		-->
	</div>

	<div class="text">
		<h1>Track progress. Ensure data integrity. <br>
			Improve productivity. Keep your research tidy.</h1>
	</div>
</section>

<!--
<section id="info_blocks" class="cf info_blocks">
	<div class="col_third info_block">
		<h2><a href="/search">Explore</a></h2>

		<p>Databrary is a repository of discoveries waiting to happen. Dig into the diverse source materials of developmental researchers world-wide. Spark your ideas, engage your students, and learn about behavior and development.</p>
	</div>

	<div class="col_third info_block">
		<h2><a href="/about.html">Discover</a></h2>

		<p>Databrary offers tools for coding your videos, identifying patterns, and visualizing your data. Take advantage of our free tools for managing your lab and organizing your resources. Get the most out of your research.</p>
	</div>

	<div class="col_third info_block">
		<h2><a href="/user-guide.html">Share</a></h2>

		<p>Advance developmental science. Increase transparency. Allow researchers to reuse your data for new purposes. Upload your materials with our lightning-fast importer and store it indefinitely. Never fear data-loss again.</p>
	</div>
</section>
-->
