/* PROBABLY GARBAGE! */
.feature {
    width: 30%;
    float: left;
    margin: 0 1.6666666666% 0;
}

.feature h1 {
    font-size: 1.2em;
    font-weight: bold;
    height: 40px;
}

.feature p {
    font-size: 0.9em;
    line-height: 150%;
}

#static_features video {
    width: 100%;
    height: auto;
}

#datavyu_can .feature {
    width: 46%;
    margin: 0 2% 0;
}

.other-formats {
	text-align: right;
	font-size: 0.75em;
	padding-left: 75%;
	font-style: italic;
}
