/*
 * File: css/home.css
 * Author: Gladys Chan
 * Description: stylesheet of home page
 */

/* slideshow style */
#slides
{
    margin-bottom: 15px;
}

.slides_container
{
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.slides_container div
{
    width: 880px;
    height: 400px;
    display: block;
}

.slides_container img
{
    width: 880px;
    height: 400px;
}

/* slideshow pagination style */
#slides ul
{
    float: right;
}

.pagination {
    margin: 10px auto 0;
    width: 60px;
}

.pagination li {
    float: left;
    margin: 0 1px;
    list-style: none;
}

.pagination li a
{
    display: block;
    width: 12px;
    height: 0;
    padding-top: 12px;
    background-image: url(../images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.pagination li.current a
{
    background-position:0 -12px;
}

/* Feature sections style */
.feature
{
    width: 30%;
    float: left;
    padding: 0 15px 15px;
}

.feature h1
{
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: normal;
    height: 40px;
    line-height: 120%;
}

.feature p
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%;
}
