/*
 * File: css/developer.css
 * Author: Gladys Chan
 * Description: stylesheet of download page
 */

section
{

    padding-bottom: 15px;
}

section h1
{
    margin: 0;
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

article p
{
    margin: 0;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
}

article a
{
    margin: 0;
    
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
}

/*article a
 *{
 *    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
 *    font-size: large;
 *}
 */
