/*
 * File: css/main.css
 * Author: Gladys Chan
 * Description: main stylesheet
 */

html
{
    font-family: sans-serif;
}

body
{
    margin: 0;
}

a
{
    color: #000;
}

/* Load fonts */
@font-face
{
    font-family: 'SofiaProLight';
    src: url('SofiaProLight-webfont.eot'); /* IE9 Compat Modes */
    src: url('SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('SofiaProLight-webfont.woff') format('woff'), /* Modern Browsers */
    url('SofiaProLight-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('SofiaProLight-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face
{
    font-family: 'SofiaProMedium';
    src: url('SofiaProMedium-webfont.eot'); /* IE9 Compat Modes */
    src: url('SofiaProMedium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('SofiaProMedium-webfont.woff') format('woff'), /* Modern Browsers */
    url('SofiaProMedium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('SofiaProMedium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* 
 * Fake meta header
 * Define background color of meta header and restore position
 */
#meta-header-background
{
    height: 42px;
    margin-bottom: -42px;
    background-color: #000;
}

/* Actual meta header */
#meta-header
{
    width: 900px;
    height: 40px;
    margin: 0 auto;
    padding-top: 2px;
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    color: #BBB;
}

#meta-header a
{
    padding: 0 10px;
    text-decoration: none;
    color: inherit;
}

#meta-header span
{
    padding: 0 10px;
}

#meta-header img
{
    position: relative;
    top: 7px;
    border: 0;
}

.misc
{
    float: right;
    margin-top: 10px;
    font-size: small;
}

/* Header style */
header
{
    width: 900px;
    height: 80px;
    margin: auto;
}

/* Datavyu logo */
#logo
{
    float: left;
    height: 60px;
    width: auto;
    padding-top: 20px;
    border-width: 0px;
}

/* Header navigation bar style */
nav
{
    font-family: SofiaProMedium, Helvetica, Arial, sans-serif;
}

nav ul
{
    float: right;
    margin: 0;
    list-style-type: none;
}

nav li
{
    display: block;
    float: left;
}

/*
 * Background colors of navigation items
 * Make necessary change in js/nav.js after modifying these blocks
 */
nav .current#about
{
    background-color: #6C6;
}

nav .current#development
{
    background-color: #6C6;
}

nav .current#faq
{
    background-color: #6C6;
}


nav a
{
    display: block;
    padding: 55px 10px 7px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    border-bottom: 3px solid #FFF;
}

nav a:hover
{
    background-color: #FC3;
}

/* Dropdown items */
.sub-nav
{
    position: absolute;
    display: none;
    padding: 0;
    border: 1px solid #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFF;
}

.sub-nav li
{
    clear: both;
    width: inherit;
    padding: 0;
}

.sub-nav a
{
    width: inherit;
    padding: 5px 10px;
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    border: none;
}

/* Content section style */
section
{
    width: 900px;
    min-height: 100%;
	padding-left:0px;
	padding-right:0px;
    margin: auto;
    overflow-y: hidden;
}

/* Footer style */
footer
{
    width: 900px;
    height: 60px;
    margin: auto auto 20px;
}

footer ul
{
    padding: 0;
    list-style-type: none;
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
}

footer img
{
    margin: 0;
}

footer li
{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
}

#social_network
{
    text-align: right;
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
}

#facebook
{
    position: relative;
    top: 2px;
    padding-left: 2px;
    padding-right: 3px;
}

#google-plus
{
    position: relative;
    top: 4px;
}

#twitter
{
    position: relative;
    top: 2px;
}

#github
{
    position: relative;
    top: 6px;
    padding-left: 2px;
}



/* Lightbox email subscription form */
#subscriber 
{
	font-size: small;	
}

#subscriber p
{
	padding-bottom:5px;
	font-family: Helvetica, Arial, sans-serif;
}               

div.mc-field-group ul {
	list-style-type: none;
	padding-bottom:10px; 
}                 
div.mc-field-group {
	margin:2px;
	padding:1px;
}
}