/*
 * File: css/download.css
 * Author: Gladys Chan
 * Description: stylesheet of about page
 */

section
{
    padding-top: 10px;
	padding-bottom: 15px;
}

section h1
{

    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    font-weight: normal;
	margin:30px 0px 10px 0px;
}

article
{
    margin-bottom: 15px;
}

article h2
{
    margin: 10px 0;
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: normal;
}

article p
{
    margin: 0;
    padding: 6px 0px 5px 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

article span
{
    float: right;
}


/*
TEAM
*/
#static_team h2 {
    margin: 28px 0;
    border-top: 1px solid #d1cac4;
    border-bottom: 1px solid #d1cac4;
    padding: 7px 0;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ee6f07;
    font-weight: normal;
    text-align: center;
}
#static_team .profile {
    margin-bottom: 28px;
}
#static_team .profile .avatar {
    padding: 7px;
    border: 1px solid #d1cac4;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
#static_team .profile h1 {
    font-size: 1.2em;
    border-bottom: 0;
    padding: 0;
    margin: 0;
}
#static_team .profile .position {
    font-family: 'SofiaProMedium', Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
}
#static_team .profile ul.info {
    font-size: 0.9em;
    line-height: 1.2;
    list-style: none;
    padding: 0;
    margin: 7px 0 0;
}
#static_team .profile ul.info li {
    margin-bottom: 7px;
}
#static_team .profile ul.inline li {
    margin: 0 10px 0 0;
}
#static_team .profile ul.inline a,
#static_team .profile ul.inline img {
    display: block;
}
#static_team .profile ul.inline a:hover {
    -webkit-box-shadow: 0 0 5px #c8619d;
    -moz-box-shadow: 0 0 5px #c8619d;
    box-shadow: 0 0 5px #c8619d;
}

ul.inline {
    list-style: none;
    padding: 0;
}
ul.inline li {
    display: inline-block;
    margin: 0 5px;
}


.wrapper {
    width: 944px;
    position: relative;
    margin: 0 auto;
    *zoom: 1;
}
.wrapper:before,
.wrapper:after {
    content: "";
    display: table;
}
.wrapper:after {
    clear: both;
}
.row {
    margin-left: -16px;
    *zoom: 1;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.column_full {
    float: left;
    width: 944px;
    margin-left: 16px;
    *zoom: 1;
}
.column_full:before,
.column_full:after {
    content: "";
    display: table;
}
.column_full:after {
    clear: both;
}
.column_wide {
    float: left;
    width: 464px;
    margin-left: 136px;
    *zoom: 1;
}
.column_wide:before,
.column_wide:after {
    content: "";
    display: table;
}
.column_wide:after {
    clear: both;
}
.column_narrow {
    float: left;
    width: 224px;
    margin-left: 16px;
    *zoom: 1;
}
.column_narrow:before,
.column_narrow:after {
    content: "";
    display: table;
}
.column_narrow:after {
    clear: both;
}
.column_mini {
    float: left;
    width: 144px;
    margin-left: 16px;
    *zoom: 1;
}
.column_mini:before,
.column_mini:after {
    content: "";
    display: table;
}
.column_mini:after {
    clear: both;
}
.column_small {
    float: left;
    width: 304px;
    margin-left: 16px;
    *zoom: 1;
}
.column_small:before,
.column_small:after {
    content: "";
    display: table;
}
.column_small:after {
    clear: both;
}
.column_half {
    float: left;
    width: 464px;
    margin-left: 16px;
    *zoom: 1;
}
.column_half:before,
.column_half:after {
    content: "";
    display: table;
}
.column_half:after {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

#static_team .flatten h1,
.flatten ul.inline {
    display: inline-block;
    margin: 0 10px 0 0;
}

#static_team .flatten article.profile {
    margin-bottom: 10px;
}