#contact-container{
	width:500px;
	float:left;
	margin:30px auto;
	
}
#loc-container{
	width:350px;
	float:right;
	margin:30px 10px auto;
	
}

.form-container{
	background-color:#f5f5f5;
	padding:15px;
	
	-moz-border-radius:12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius:12px;
}

.form-container h2{
	margin: 5px 0px 10px 0px;
}

td{
	white-space:nowrap;
}

h1{
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    font-size: x-large;
    font-weight: normal;
}

h2{
    font-family: SofiaProLight, Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: normal;
}

p
{
    font-size: small;
}

label{
	font-size:small;
	font-family:Helvetica,Arial,Sans-serif;
}

textarea{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
    outline:none;
	width:350px;
}

body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label, a, #button, #button2{

	outline:none;
}


td > button{
	text-indent:8px;
}

.error{
	background-color:#AB0000;
	color:white;
	font-size:10px;
	font-weight:bold;
	margin-top:10px;
	padding:10px;
	text-transform:uppercase;
	width:240px;
}

#loading{
	position:relative;
	bottom:9px;
	visibility:hidden;
}
