{% extends "base.html" %}

{% block title %}{{ page.title|replace('&nbsp;', ' ') }}{% endblock %}

{% block content %}
<article id="page_{{ page.slug.replace('/', '_') }}" class="hentry page page_{{ page.slug.replace('/', '_') }}">
	<h1 class="entry-title"><span></span>{{ page.title|replace('&nbsp;', ' ') }}</h1>

	<div class="cf">
		<div class="entry-content {% if 'wide' not in page.display %}col_with_nav{% endif %}">
			{{ page.content }}
		</div>

		{% if 'wide' not in page.display %}
			{% include 'partial/page_sidebar.html' %}
		{% endif %}
	</div>

</article>
{% endblock content %}
