<nav class="breadcrumbs cf">
	<ul class="cf">
		{% for slug in page.slug.split('/') %}
			{% for pg in PAGES|sort(attribute='order') %}
				{% if pg.slug.endswith('/'.join(page.slug.split('/')[:page.slug.split('/').index(slug)+1])) and pg.slug != page.slug %}
					{% if not loop.last %}
								<li>
									<a href="{{ SITEURL }}{% if pg.redirect %}{{ pg.redirect }}{% else %}/{{ pg.url }}{% endif %}" class="{% if page.slug == pg.slug %}current{% endif %}">{{ pg.title|replace('&nbsp;', ' ') }}</a>
								</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
</nav>