<nav class="col_nav page_sidebar">
  <h2>
    <a href="{{ SITEURL }}/{{ page.root.url }}" class="{% if page == page.root %}current{% endif %}">{{ page.root.title|replace('&nbsp;', ' ') }}</a>
  </h2>

  {% for p in page.root.children|sort(attribute='order') recursive %}
  {% if loop.first %}
  <ul>
  {% endif %}
    <li>
      <a href="{{ SITEURL }}/{{ p.url }}" class="{% if page == p %}current{% elif page.slug.startswith(p.slug+'/') %}parent{% endif %}">{{ p.title|replace('&nbsp;', ' ') }}</a>
      {% if page.slug.startswith(p.slug) %}
      {{ loop(p.children|sort(attribute='order')) }}
      {% endif %}
    </li>
  {% if loop.last %}
  </ul>
  {% endif %}
  {% endfor %}

</nav>
