<nav class="col_nav page_sidebar">
	{% for pg in PAGES if pg.slug == page.slug.split('/')[0] %}
		<h2><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title|replace('&nbsp;', ' ') }}</a></h2>
	{% endfor %}

	{# This recursive hack is awful, but jinja recursive feature is incompatible with pelican's page structure. #}

	{% for pg1 in PAGES|sort(attribute='order') if pg1.slug.startswith(page.slug.split('/')[0]) and pg1.slug.count('/') == 1 %}
		{% if loop.first %}
			<ul>
		{% endif %}

				<li>
					{% if not page.slug == pg1.slug %}
						<a href="{{ SITEURL }}/{{ pg1.url }}">{{ pg1.title|replace('&nbsp;', ' ') }}</a>
					{% else %}
						<span>{{ pg1.title|replace('&nbsp;', ' ') }}</span>
					{% endif %}

					{% for pg2 in PAGES|sort(attribute='order') if pg2.slug.startswith('/'.join(pg1.slug.split('/')[0:2])) and pg2.slug.count('/') == 2 %}
						{% if loop.first %}
							<ul>
						{% endif %}

								<li>
									{% if not page.slug == pg2.slug %}
										<a href="{{ SITEURL }}/{{ pg2.url }}">{{ pg2.title|replace('&nbsp;', ' ') }}</a>
									{% else %}
										<span>{{ pg2.title|replace('&nbsp;', ' ') }}</span>
									{% endif %}

									{% for pg3 in PAGES|sort(attribute='order') if pg3.slug.startswith('/'.join(pg2.slug.split('/')[0:3])) and pg3.slug.count('/') == 3 %}
										{% if loop.first %}
											<ul>
										{% endif %}

												<li>
													{% if not page.slug == pg3.slug %}
														<a href="{{ SITEURL }}/{{ pg3.url }}">{{ pg3.title|replace('&nbsp;', ' ') }}</a>
													{% else %}
														<span>{{ pg3.title|replace('&nbsp;', ' ') }}</span>
													{% endif %}
												</li>

										{% if loop.last %}
											</ul>
										{% endif %}
									{% endfor %}
								</li>

						{% if loop.last %}
							</ul>
						{% endif %}
					{% endfor %}
				</li>

		{% if loop.last %}
			</ul>
		{% endif %}
	{% endfor %}
</nav>
