<footer id="site_footer" class="site_footer">
	<div class="wrap">
		<div class="cf">
			<nav id="footer_nav" class="footer_links">
				<ul class="inline">
					<li> <a href="//databrary.org/about/contact.html">Contact us</a>.</li>
					<li>Stay informed with <a href="//databrary.org/contact/newsletter.html">our newsletter</a>.</li>
					<li><a href="//databrary.org/about/jobs.html">Join our team</a>.</li>
				</ul>
				{% if SITESLUG != 'datavyu' %}
				<figure class="footer_fig"><a href="{{PROJECTS[1][1]}}" title="Datavyu: Data coding and visualization tool"><img src="/theme/img/logo/datavyu-nav.png" alt="Datavyu" /></a><figcaption>Video coding and data visualization tool</figcaption></figure>
				{% else %}
				<figure class="footer_fig"><a href="{{PROJECTS[0][1]}}" title="Databrary: An Open Data Library for Developmental Science"><img src="/theme/img/logo/databrary-nav.png" alt="Databrary" /></a><figcaption>An Open Data Library for Developmental Science</figcaption></figure>
				{% endif %}
			</nav>
			<aside class="footer_social">
				<p>Find us on
				        <a href="https://www.linkedin.com/company/databrary-project" target="_blank" class="img"><img id="linkedin" src="/theme/img/social/linkedin.png" alt="LinkedIn"></a>,
                                        <a href="https://www.facebook.com/databrary" target="_blank" class="img"><img id="facebook" src="/theme/img/social/facebook.png" alt="Facebook"></a>,
					<a href="https://plus.google.com/u/1/111083162045777800330/posts" target="_blank" class="img"><img id="google-plus" src="/theme/img/social/google-plus.png" alt="Google+"></a>,
					<a href="https://twitter.com/databrary" target="_blank" class="img"><img id="twitter" src="/theme/img/social/twitter.png" alt="Twitter"></a>, and
					<a href="https://github.com/databrary/" target="_blank" class="img"><img id="github" src="/theme/img/social/github.png" alt="GitHub"></a>.
				</p>
			</aside>
		</div>

		<div class="cf legal">
			<p>This material is based on work supported by the National Science Foundation under Grant No. BCS-1238599 and the Eunice Kennedy Shriver National Institute of Child Health and Human Development under Cooperative Agreement U01-HD-076595. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or the Eunice Kennedy Shriver National Institute of Child Health and Human Development.</p>

			<p>
				<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Databrary.org documentation</span> is licensed under a
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
			</p>

			<ul class="inline grants">
				<li>
					<a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1238599&HistoricalAwards=false">
						<img src="/theme/img/grants/nsf.png" class="nsf"> BCS-1238599 </a>
				</li>
				<li>
					<a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8531595&icde=15908155&ddparam=&ddvalue=&ddsub=&cr=1&csb=default&cs=ASC">
						<img src="/theme/img/grants/nih.png" class="nih"> U01-HD-076595 </a>
				</li>
			</ul>
		</div>
	</div>
</footer>
