<section id="site_toolbar" class="site_toolbar">
	<div class="wrap">
		<nav class="toolbar_user">
			<a href="{{ TOPRIGHT_TARGET}} ">{{ TOPRIGHT_TEXT }}</a>
		</nav>

		<h1>
			<a href="https://www.databrary.org" title="Databrary: An Open Data Library"><img src="https://www.databrary.org/theme/img/logo/databrary-nav.png" alt"Databrary: An Open Data Library for Developmental Science"></a>
		</h1>

		<ul class="toolbar_nav cf">
			<li><a href="https://nyu.databrary.org/search">explore</a></li>
			<li><a href="http://databrary.org/user-guide/releasing-data.html">share</a></li>
			<li><a href="http://datavyu.org">discover</a></li>
		</ul>
	</div>
</section>
