<section id="site_toolbar" class="site_toolbar">
	<div class="wrap">
		<h1>
			<a href="http://databrary.org/about.html" title="About the Databrary Project"><span>THE </span>DATABRARY<span> PROJECT</span></a>
		</h1>

		<nav>
			<a href="http://databrary.org" title="Databrary"><img src="{{ SITEURL }}/theme/img/logo/databrary-nav.png" alt="Databrary"><span>Databrary</span></a>
			<a href="http://datavyu.org" title="Datavyu"><img src="{{ SITEURL }}/theme/img/logo/datavyu-nav.png" alt="Datavyu"><span>Datavyu</span></a>
			<a href="http://labnanny.org" title="Labnanny"><img src="{{ SITEURL }}/theme/img/logo/labnanny-nav.png" alt="Labnanny"><span>Labnanny</span></a>
		</nav>
	</div>
</section>
