Redirect /project /about
Redirect /pdf /policies
Redirect /doc /policies
Redirect /access /resources
Redirect /access/responsibilities /resources/policies/responsibilities
Redirect /resources/responsibilities /resources/policies/responsibilities
Redirect /access/responsibilities.html /resources/policies/responsibilities.html
Redirect /access/policies/agreement.html /resources/agreement.html
Redirect /resources/policies/agreement.html /resources/agreement.html
Redirect /access/policies/agreement-revision.html /resources/agreement/agreement-revision.html
Redirect /resources/policies/agreement-revision.html /resources/agreement/agreement-revision.html
Redirect /access/policies/release-template.html /resources/templates/release-template.html
Redirect /resources/policies/release-template.html /resources/templates/release-template.html
Redirect /access/policies/staff-release.html /resources/templates/staff-release.html
Redirect /resources/policies/staff-release.html /resources/templates/staff-release.html
Redirect /access/policies/staff-agreement.html /resources/templates/staff-agreement.html
Redirect /resources/policies/staff-agreement.html /resources/templates/staff-agreement.html
Redirect /access/policies.html /resources/policies.html
Redirect /resources/policies.html /resources/policies.html
Redirect /access.html /resources.html
Redirect /access/responsibilities.html /resources/policies/responsibilities.html
Redirect /resources/responsibilities.html /resources/policies/responsibilities.html