Redirect /project /about
Redirect /pdf /templates
Redirect /doc /templates
Redirect /access /resources
Redirect /policies /policies-best-practices
Redirect /access/responsibilities /resources/policies-best-practices/responsibilities
Redirect /resources/responsibilities /resources/policies-best-practices/responsibilities
Redirect /access/responsibilities.html /resources/policies-best-practices/responsibilities.html
Redirect /access/policies/agreement.html /resources/agreement.html
Redirect /resources/policies-best-practices/agreement.html /resources/agreement.html
Redirect /access/policies/agreement-revision.html /resources/agreement/agreement-revision.html
Redirect /resources/policies-best-practices/agreement-revision.html /resources/agreement/agreement-revision.html
Redirect /access/policies/release-template.html /resources/templates/release-template.html
Redirect /resources/policies-best-practices/release-template.html /resources/templates/release-template.html
Redirect /access/policies/staff-release.html /resources/templates/staff-release.html
Redirect /resources/policies-best-practices/staff-release.html /resources/templates/staff-release.html
Redirect /access/policies/staff-agreement.html /resources/templates/staff-agreement.html
Redirect /resources/policies-best-practices/staff-agreement.html /resources/templates/staff-agreement.html
Redirect /access/policies.html /resources/policies-best-practices.html
Redirect /access.html /resources.html